<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.Docotic.Pdf" version="7.5.11645" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="Docnet.Core" version="2.2.0" targetFramework="net461" />
  <package id="Ghostscript.NET" version="1.2.2" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc.es" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor.es" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.es" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net461" />
  <package id="Tesseract" version="4.1.1" targetFramework="net461" />
  <package id="Tesseract.Net.SDK" version="1.18.342" targetFramework="net461" />
</packages>